@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

body {
  font: 16px/1.6 "Open Sans", sans-serif;
  color: #2d2d2d;
  background-color: #fff;
  margin: 0;
}

.main-container {
  width: 60%;
  max-width: 850px;
  margin: 0 auto;
  padding: 40px 20px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
}

.profile-image {
    flex-shrink: 0; /* Prevents the image from shrinking */
    width: 200px; /* Set the width you want for the image */
    height: 700px; /* Auto-adjusts the height to maintain aspect ratio */
}

.profile-image img {
    width: 100%; /* Image will fill the container width */
    height: 100%; /* Image will fill the container height determined by aspect ratio */
    object-fit: cover; /* Ensures the image covers the area without distortion */
    border-radius: 8px; /* Optional: Adds rounded corners */
}

.bio {
    flex-grow: 1; /* Allows the text section to take the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space around content, if needed */
    padding: 20px; /* Adds padding around the text for better spacing */
}

h1.main-heading {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
}

.section-header {
  font-size: 1.5em;
  margin: 30px 0 15px; /* Consistent spacing above and below */
  font-weight: 500;
}

.paper-title, p {
  color: #2d2d2d;
  margin: 0 0 15px;
  text-decoration: none;
}

a {
  color: #3498db; /* A pleasant shade of blue */
  text-decoration: none; /* Removes the underline */
}

.button-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0 0; /* Consistent margin above buttons */
}

.button, a.button {
  padding: 8px 16px;
  font-size: 14px;
  color: #2d2d2d;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  font-weight: 400;
}

.button:hover, a.button:hover {
  background-color: #d4d4d4;
  color: #2d2d2d;
}

.contact-button {
  width: auto;
  min-width: 180px;
  padding: 8px 16px;
  white-space: nowrap;
}

hr {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

@media (max-width: 1024px) {
  .main-container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .main-container {
    width: 90%;
    padding: 20px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    width: 80%;
    margin-bottom: 20px;
  }
}

.abstract-section {
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: visibility 0s, height 0.5s ease-out;
}


